In [69]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [70]:
dfTrain = pd.read_csv('/content/bank customer churn dataset.csv')

In [71]:
dfTrain.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [72]:
dfTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [73]:
dfTrain.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [74]:
dfTrain.Gender.value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [75]:
dfTrain.Age.mean()

38.9218

In [76]:
dfTrain = pd.get_dummies(dfTrain, columns=['Geography', 'Gender'], drop_first=True)

In [77]:
dfTrain.head()

,RowNumber,CustomerId,Surname,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,1,15634602,Hargrave,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,2,15647311,Hill,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,3,15619304,Onio,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,4,15701354,Boni,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,5,15737888,Mitchell,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [78]:
y = dfTrain['Exited']

In [79]:
X = dfTrain.drop('Exited', axis = 1)

In [80]:
X.drop(columns=['RowNumber', 'CustomerId', 'Surname'], inplace=True)

In [81]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [82]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [83]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=24)

In [84]:
X_train.shape

(8000, 11)

In [85]:
X_test.shape

(2000, 11)

In [86]:
y_train.shape

(8000,)

In [87]:
y_train.shape

(8000,)

In [88]:
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [89]:
X_train_scaled

array([[ 1.27863539,  0.75808981,  0.34495107, ..., -0.57869742,
        -0.56926697, -1.09858844],
       [ 0.7084703 ,  2.83605094, -0.69444952, ..., -0.57869742,
        -0.56926697,  0.91025899],
       [ 1.5274347 ,  1.79707038,  1.38435167, ..., -0.57869742,
         1.75664505, -1.09858844],
       ...,
       [ 0.32490469,  0.28582592, -1.73385012, ..., -0.57869742,
        -0.56926697, -1.09858844],
       [-0.55625954,  0.38027869, -1.04091639, ..., -0.57869742,
         1.75664505,  0.91025899],
       [ 0.06573874, -1.31987132, -1.04091639, ...,  1.72801876,
        -0.56926697,  0.91025899]])

In [90]:
X_test_scaled

array([[ 0.21554379,  0.82251464,  0.67022881, ...,  1.72744428,
        -0.59197879, -1.08565613],
       [ 1.68395866, -0.26934091,  0.32713753, ..., -0.57888987,
        -0.59197879, -1.08565613],
       [-1.67388513,  1.41807222,  1.69950264, ..., -0.57888987,
        -0.59197879, -1.08565613],
       ...,
       [ 0.02043972, -0.26934091, -1.38831885, ..., -0.57888987,
         1.6892497 , -1.08565613],
       [-1.24260244,  0.02843787,  0.32713753, ..., -0.57888987,
        -0.59197879,  0.92110197],
       [-0.90373747, -0.26934091, -0.01595374, ..., -0.57888987,
         1.6892497 ,  0.92110197]])